{% extends "base.html" %}
{% block content %}
<h2>About the Project</h2>
<p>This is the about page developed by Rahul. It includes a Bootstrap-styled layout and cards to present the developers.</p>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lalit Shinkar</h5>
                <p class="card-text">Developer, UI and DevOps Lead</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rahul</h5>
               vim  <p class="card-text">Developer, About Page and UI Enhancement</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
